---
:development:
  :use_vim_broker_in_console: true
:ems:
  :ems_vmware:
    :blacklisted_event_names: []
    :event_handling:
      :event_groups:
        :addition:
          :critical:
        :power:
          :critical:
:ems_refresh:
  :vmware_cloud:
    :get_public_images: false
:http_proxy:
  :vmware_cloud:
    :host:
    :password:
    :port:
    :user:
  :vmwarews:
    :host:
    :password:
    :port:
    :user:
#:log:
#  :level_vim: warn
:prototype:
  :ems_vmware:
    :update_driven_refresh: false
:workers:
  :worker_base:
    :event_catcher:
      :event_catcher_vmware:
        :flooding_monitor_enabled: true
        :poll: 1.seconds
        :ems_event_max_wait: 60
      :event_catcher_vmware_cloud:
        :poll: 15.seconds
        :duration: 10.seconds
        :capacity: 50
        :amqp_port: 5672
        :amqp_heartbeat: 30
        :amqp_recovery_attempts: 4
    :queue_worker_base:
      :ems_metrics_collector_worker:
        :ems_metrics_collector_worker_vmware: {}
      :ems_refresh_worker:
        :ems_refresh_worker_vmware: {}
        :ems_refresh_worker_vmware_cloud: {}
        :ems_refresh_worker_vmware_cloud_network: {}
